/* Fonts: 
font-family: 'Alfa Slab One', cursive; (Overskrift) 
font-family: 'Annie Use Your Telescope', cursive; (paragraffer)


colorcodes:
Rød: #E3000F
Gul: #EED502
Black and white 

*/

body {
    background-image: url(img/Stjerne-baggrund.png);
    font-family: 'Annie Use Your Telescope', cursive; 
    color: white;
    text-shadow:
    -1px -1px 0  #E3000F,  
    1px -1px 0  #E3000F,
    -1px 1px 0  #E3000F,
     1px 1px 0 #E3000F;
   
}

h3 {
    text-align: center;
     font-size: 3em;
    position: relative;
    left: 40px;
}

.scan-img {
   position: absolute;
   overflow: hidden;
   clip: rect(8px, 420px, 450px, 40px);
   left: 0px;

}

/*Scan nisse (sn)*/

/*Scan food (sf)*/

/*Scan spoon (ss)*/


/*Scan parents (spr)*/

/*Scan pr-spoons (sprs)*/
