/* Fonts: 
font-family: 'Alfa Slab One', cursive; (skal vi lege Overskrift) 
font-family: 'Annie Use Your Telescope', cursive; (paragraffer)
font-family: 'Arima Madurai', cursive; (tillykke overskrifter)

colorcodes:
Rød: #E3000F
Gul: #EED502
Black and white 
*/

body {
    background-image: url(img/Stjerne-baggrund.png);
    overflow: hidden;
}

p {
    color: white;
  text-shadow:
   -1px -1px 0  #E3000F,  
    1px -1px 0  #E3000F,
    -1px 1px 0  #E3000F,
     1px 1px 0 #E3000F;
    font-family: 'Annie Use Your Telescope', cursive; 
    color: white;
}

/*Find siderne, når fætternissen taler*/
.BR-story {
    font-size: 1.85em;
    margin-bottom: 0;
    margin-top: 5px;
}

/*Tak for hjælpen siderne*/
.next {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 23px;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    background-color: rgb(248, 180, 168);
    border: none;
    border-radius: 8px;
    margin: 1em;
}

/*Tillykke siderne */
.main-tl {
    font-family:'Arima Madurai', cursive;
    font-size: 1.8em;
    color: white;
    text-align: center;
    text-shadow:
    -1px -1px 0  #E3000F,  
    1px -1px 0  #E3000F,
    -1px 1px 0  #E3000F,
     1px 1px 0 #E3000F;
}


h2 {
    margin-top: 0;
}
/*Loading-site*/

.BR-logo {
    position: fixed;
    top: 20%;
    left: 10%;
}

.kane {
    max-width: 280px;
    position: fixed;
    left: -40px;
    bottom: -50px;
    margin: 0;
}


/*Frontpage (fp)*/

.deltage {
    font-family: 'Annie Use Your Telescope', cursive; 
    background-color: rgb(248, 180, 168);
    border: none;
    border-radius: 8px;
    font-size: 2em;
    position: fixed;
    bottom: 0.2em;
    left: 30px;
}

.xmastree-gif-fp {
    position: relative;
    left: 60px;
}

.header-fp {
    color: white;
    font-family: 'Alfa Slab One', cursive;
    text-shadow:
   -1px -1px 0  #E3000F,  
    1px -1px 0  #E3000F,
    -1px 1px 0  #E3000F,
     1px 1px 0 #E3000F;
     transform: rotate(-20deg);
}

.intro-text {
    font-size: 1.4em;
    margin-top: 0;
}



/*Gamestart (gs)*/

.historie-1  {
    font-size: 1.8em;
}

.historie-2 {
    font-size: 1.8em;
    text-align: center;
}

.historie-3 {
    font-size: 1.8em;
    text-align: right;
}


/*Find Nisse (fn)*/
.intro-skateboard {
    font-size: 2em;
}


/*Tillykke Nisse (tln)*/

/*Find Food (ff)*/

.BR-ff {
    max-width: 200px;
    position: relative;
    left: 70px;
}

.p-ff {
    font-size: 1.6em;
}



/*Tillykke Food (tlf)*/

/*Find spoon (fs)*/
.BR-fs {
    max-width: 200px;
    position: relative;
    left: 90px;
}
.tog {
    max-width: 375px;
}

/*Tillykke spoon (tls)*/



/*Find parents (fpr)*/
.BR-fpr {
    max-width: 180px;
    position: relative;
    top: 0;
    left: 80px;
}


/*Tillykke parents (tlpr)*/
.BR-tlpr {
    max-width: 350px;
}

/*Find pr-spoon (fprs)*/
.BR-fprs {
    max-width: 200px;
    position: relative;
    left: 70px;
}

/*Tillyke pr-spoon (tlprs)*/
.BR-tlprs {
    max-width: 300px;
}
/*Done*/
.Story-end {
    font-size: 2em;
    margin-top: 0.5em;
    text-align: center;
}

.BR-gif {
    max-width: 250px;
    position: relative;
    left: 40px;
}

.Storyend-second {
    font-size: 1.6em;
    margin-top: 0;
}

.number {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
}

