/* Fonts: 
font-family: 'Alfa Slab One', cursive; (Overskrift) 
font-family: 'Annie Use Your Telescope', cursive; (paragraffer)

colorcodes:
Rød: #E3000F
Gul: #EED502
Black and white 
*/

/*Loading-site*/

/*Frontpage (fp)*/

/*Gamestart (gs)*/

/*Find Nisse (fn)*/

/*Tillykke Nisse (tln)*/

/*Find Food (ff)*/

/*Tillykke Food (tlf)*/

/*Find spoon (fs)*/

/*Tillykke spoon (tls)*/

/*Find parents (fpr)*/

/*Tillykke parents (tlpr)*/

/*Find pr-spoon (fprs)*/

/*Tillyke pr-spoon (tlprs)*/

/*Done*/
