/* Fonts: 
font-family: 'Alfa Slab One', cursive; (Overskrift) 
font-family: 'Annie Use Your Telescope', cursive; (paragraffer)

colorcodes:
Rød: #E3000F
Gul: #EED502
Black and white 

*/

body {
    background-image: url(Stjerne-baggrund.png);
}

/*Scan nisse (sn)*/

/*Scan food (sf)*/

/*Scan parents (spr)*/

/*Scan pr-spoons (sprs)*/
