/* Fonts: 
font-family: 'Alfa Slab One', cursive; (skal vi lege Overskrift) 
font-family: 'Annie Use Your Telescope', cursive; (paragraffer)
font-family: 'Arima Madurai', cursive; (tillykke overskrifter)

colorcodes:
Rød: #E3000F
Gul: #EED502
Black and white 
*/

body {
    background-image: url(img/Stjerne-baggrund.png);
    overflow: hidden;
}

p {
    color: white;
  text-shadow:
   -1px -1px 0  #E3000F,  
    1px -1px 0  #E3000F,
    -1px 1px 0  #E3000F,
     1px 1px 0 #E3000F;
    font-family: 'Annie Use Your Telescope', cursive; 
    color: white;
}

/*Find siderne, når fætternissen taler*/
.BR-story {
    font-size: 1.85em;
    margin-bottom: 0;
    margin-top: 5px;
}

/*Tak for hjælpen siderne*/
.next {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 23px;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    background-color: rgb(248, 180, 168);
    border: none;
    border-radius: 8px;
    margin: 1em;
}

/*Tillykke siderne */
.main-tl {
    font-family:'Arima Madurai', cursive;
    font-size: 1.8em;
    color: white;
    text-align: center;
    text-shadow:
    -1px -1px 0  #E3000F,  
    1px -1px 0  #E3000F,
    -1px 1px 0  #E3000F,
     1px 1px 0 #E3000F;
}


h2 {
    margin-top: 0;
}
/*Loading-site*/

.BR-logo {
    position: fixed;
    top: 20%;
    left: 10%;
}

.kane {
    max-width: 280px;
    position: fixed;
    left: -40px;
    bottom: -50px;
    margin: 0;
}


/*Frontpage (fp)*/

.deltage {
    font-family: 'Annie Use Your Telescope', cursive; 
    background-color: rgb(248, 180, 168);
    border: none;
    border-radius: 8px;
    font-size: 2em;
    position: fixed;
    bottom: 0.2em;
    left: 30px;
}

.xmastree-gif-fp {
    position: relative;
    left: 60px;
}

.header-fp {
    color: white;
    font-family: 'Alfa Slab One', cursive;
    text-shadow:
   -1px -1px 0  #E3000F,  
    1px -1px 0  #E3000F,
    -1px 1px 0  #E3000F,
     1px 1px 0 #E3000F;
     transform: rotate(-20deg);
}

.intro-text {
    font-size: 1.4em;
    margin-top: 0;
}

/*Gamestart (gs)*/

.historie-1  {
    font-size: 1.8em;
}

.historie-2 {
    font-size: 1.8em;
    text-align: center;
}

.historie-3 {
    font-size: 1.8em;
    text-align: right;
}
.xmastree-gif-gs {
    position: absolute;
    top: 300px;
    left: -7px;
}

/*Find Nisse (fn)*/
.intro-skateboard {
    font-size: 2em;
}


/*Tillykke Nisse (tln)*/

/*Find Food (ff)*/

.BR-ff {
    max-width: 200px;
    position: relative;
    left: 70px;
}

.p-ff {
    font-size: 1.6em;
}

/*Tillykke Food (tlf)*/

/*Find spoon (fs)*/
.BR-fs {
    max-width: 200px;
    position: relative;
    left: 90px;
}
.tog {
    max-width: 375px;
}

/*Tillykke spoon (tls)*/



/*Find parents (fpr)*/
.BR-fpr {
    max-width: 180px;
    position: relative;
    top: 0;
    left: 80px;
}

/*Tillykke parents (tlpr)*/
.BR-tlpr {
    max-width: 350px;
}

/*Find pr-spoon (fprs)*/
.BR-fprs {
    max-width: 300px;
    position: relative;
    left: 30px;
}

/*Tillyke pr-spoon (tlprs)*/
.BR-tlprs {
    max-width: 300px;
}
/*Done*/
.Story-end {
    font-family: 'Arima Madurai', cursive;
    font-size: 2em;
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 0;
}

.BR-gif {
    max-width: 250px;
    position: relative;
    left: 40px;
}

.Storyend-second {
    font-size: 1.6em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.number {
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
    margin: 0;
}

/* fra https://www.templatemonster.com/blog/20-codepens-to-give-christmas-mood-to-your-website/ */ 

/***************************

Snow.  

***************************/
.snow, .snow:before, .snow:after {

  position: absolute;
  top: -600px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(5px 5px at 34px 172px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 86px 25px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 388px 47px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 53px 303px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 373px 475px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 196px 261px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 434px 424px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 234px 213px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 393px 356px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 537px 497px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 151px 362px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 110px 99px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 270px 111px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 351px 424px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 459px 279px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 584px 126px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 303px 486px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 132px 292px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 120px 162px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 396px 460px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 169px 508px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 177px 298px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 575px 410px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 29px 140px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 82px 378px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 482px 473px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 56px 24px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 157px 73px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 97px 496px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 240px 225px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 12px 102px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 518px 417px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 323px 155px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 534px 119px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 294px 245px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 270px 432px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 406px 292px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 42px 233px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 109px 160px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 158px 359px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 212px 133px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 303px 536px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 513px 314px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 54px 346px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 127px 115px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 559px 29px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 493px 581px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 339px 414px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 349px 481px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 331px 86px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 497px 385px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 65px 332px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 432px 593px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 377px 240px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 293px 224px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 455px 336px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 93px 50px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 129px 453px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 393px 78px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 364px 75px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 66px 19px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 254px 199px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 178px 454px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 499px 280px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 419px 40px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 179px 593px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 66px 529px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 498px 329px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 381px 464px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 172px 17px, #ffffff 50%, rgba(0, 0, 0, 0));
  background-size: 600px 600px;
  animation: snow 5s linear infinite;
}
#snow {
  background: none;
  z-index: -1;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake1.png'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake2.png'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
@keyframes snow {
 0% {
background-position: 0px 0px, 0px 0px, 0px 0px;
}
 50% {
background-position: 500px 500px, 100px 200px, -100px 150px;
}
 100% {
background-position: 500px 1000px, 200px 400px, -100px 300px;
}
}
@-moz-keyframes snow {
 0% {
background-position: 0px 0px, 0px 0px, 0px 0px;
}
 50% {
background-position: 500px 500px, 100px 200px, -100px 150px;
}
 100% {
background-position: 400px 1000px, 200px 400px, 100px 300px;
}
}
@-webkit-keyframes snow {
 0% {
background-position: 0px 0px, 0px 0px, 0px 0px;
}
 50% {
background-position: 500px 500px, 100px 200px, -100px 150px;
}
 100% {
background-position: 500px 1000px, 200px 400px, -100px 300px;
}
}
@-ms-keyframes snow {
 0% {
background-position: 0px 0px, 0px 0px, 0px 0px;
}
 50% {
background-position: 500px 500px, 100px 200px, -100px 150px;
}
 100% {
background-position: 500px 1000px, 200px 400px, -100px 300px;
}
}
